@use 'sass:color';
@use 'base';
@use 'mixins';

.board {
  --square-size: 50px;
  --board-grid-size: 8;

  --color-chess-light: #f2f5ff;
  --color-chess-dark: #3e7981;
  --color-chessboard: #104b48;

  .knight__icon {
    @extend %absolute-element__center-self;
    width: 40px;
    height: auto;
    z-index: 1;

    &.path-visited {
      opacity: 0.5;
    }
  }

  .path-number__icon {
    @extend %center-all-children;

    position: absolute;
    right: 0;
    background-color: #f805bb;
    width: calc(var(--square-size) * 0.45);
    aspect-ratio: 1/1;
    border-radius: 40px;
    z-index: 2;

    // width: var(--square-size);

    color: var(--color-grey-light-1);
    font-size: var(--text-sm);
    font-family: var(--font-montserrat);
    font-weight: 1000;
  }

  &__container {
    @extend %center-all-children;
  }

  &__wrapper {
    display: block;
    padding: 40px;
    background-color: var(--color-chessboard);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  &__chessboard {
    border: 6px solid var(--color-chess-dark);
    display: grid;

    grid: {
      template-rows: repeat(var(--board-grid-size), 1fr);
    }
  }

  &__row {
    display: flex;
  }

  &__square {
    width: var(--square-size);
    height: var(--square-size);
    position: relative;
  }

  &__row:nth-child(odd) &__square:nth-child(odd),
  &__row:nth-child(even) &__square:nth-child(even) {
    background-color: var(--color-chess-light);
  }

  &__row:nth-child(even) &__square:nth-child(odd),
  &__row:nth-child(odd) &__square:nth-child(even) {
    background-color: var(--color-chess-dark);
  }
}
